//
  template(name='postsList')
  .posts.page
    .wrapper
      each posts
        +postItem
    if nextPath
      a(href='#{nextPath}').load-more Load more
    else
      unless ready
        +spinner
